<div class="it-container container--state-main image-text--alignment-{{ section.settings.image_alignment }}" style="background-color: {{ section.settings.image_text_bg_colour }}">
    <img class="image-text " src="{{ section.settings.imageText | img_url: '1500x' }}" loading="lazy">
    
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'right' -%}
          <div class="right-container"{{ block.shopify_attributes }}>
          <h2 class="heading heading--colour-black" style="color: {{ block.settings.heading_font_color }}">{{ block.settings.image_text_heading }}</h2>
          <p class="paragraph paragraph--state-bold" style="color: {{ block.settings.text_font_color }}">
              {{ block.settings.image_text_text }}
          </p>
            <button class="cta cta--colour-blue"  onclick="location.href='#product-region'" type="button" style="background-color: {{ block.settings.cta_bg_color }}; color: {{ block.settings.cta_font_color }};">
              {{ block.settings.cta_text }}
            </button>
        {% endcase %}
      {% endfor %} 
      
        
    </div>
</div>
   
  {% schema %}
    {
      "name": "Image and Text",
      "settings": [
       {
        "type": "image_picker",
        "id": "imageText",
        "label": "image to go with text"
      },
      {
        "type": "select",
        "id": "image_alignment",
        "options": [
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "right",
            "label": "right"
          }
        ],
        "default": "left",
        "label": "Image Alignment"
      },
      {
        "type": "color",
        "id": "image_text_bg_colour",
        "label": "The background colour",
        "default": "#ffffff"
      }
      ],
      "blocks":[
      {
        "type": "right",
        "name": "Heading, Text and CTA",
        "limit": 1,
        "settings":[
          {
            "type": "text",
            "id": "image_text_heading",
            "label": "Heading for image and text",
            "default": "Lorem ipsum dolor sit"
          },
          {
            "type": "color",
            "id": "heading_font_color",
            "label": "Heading Font colour",
            "default": "#000000"
          },
          {
            "type": "text",
            "id": "image_text_text",
            "label": "Text for image and heading",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam sapien sit amet nibh vestibulum, vel dictum eros imperdiet. Curabitur convallis urna eu."
          },
          {
            "type": "color",
            "id": "text_font_color",
            "label": "Text Font colour",
            "default": "#000000"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text",
            "default": "Discover the new collection"
          },
          {
            "type": "color",
            "id": "cta_bg_color",
            "label": "CTA background colour",
            "default": "#7AE3F4"
          },
          {
            "type": "color",
            "id": "cta_font_color",
            "label": "CTA Font colour",
            "default": "#ffffff"
          }
        ]
      }
    ],
      "presets": [
          {
              "name": "Image and Text",
              "category": "Section"
          }
      ]
      
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}