<div id="product-region" class="product-region container--state-main">
    <h3>Lorem ipsum dolor sit</h3>
    <p class="paragraph paragraph--state-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam sapien sit amet nibh vestibulum, vel dictum eros imperdiet.</p>
    <div class="product-cards-container autoplay">
      {% assign products_by_created = section.settings.collection.products | sort: "created_at" %}
      {% for product in products_by_created %}
        <div class="card card--state-one">
            <span class="rectangle"></span>
            <img class="product-image product-image-one" src="{{ product.featured_image | img_url: '1500x' }}" loading="lazy">
            <div class="card-bottom">
                <h4>{{ product.title }}</h4>
                <p class="paragraph paragraph--state-product">{{ product.description }}</p>
            </div>
            <button class="button">Add to Bag<span class="line"></span>{{ product.price | money }}</button>
        </div>
      {% endfor %}
    </div>
    <div class="autoplay">
      {% for product in products_by_created %}
            <img class="product-image product-image-one" src="{{ product.featured_image | img_url: '1500x' }}" loading="lazy">     
      {% endfor %}
    </div>
</div>
   
  {% schema %}
    {
      "name": "Product Region",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "collection"
        }
      ],
      "presets": [
          {
              "name": "Product Region",
              "category": "Section"
          }
      ]
      
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
    $(document).ready(function(){
      $('.autoplay').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000, 
      });
  	});
  {% endjavascript %}