<div id="product-region" class="product-region container--state-main">
    <h3 style="color: {{ section.settings.product_font_color }}">{{ section.settings.product_heading }}</h3>
    <p class="paragraph paragraph--state-light" style="color: {{ section.settings.product_font_color }}">{{ section.settings.product_statement }}</p>
    <div class="product-cards-container autoplay">
      {% assign products_by_created = section.settings.collection.products | sort: "created_at" %}
      {% for product in products_by_created %}
        <div class="card card--state-one">
            <span class="rectangle" style="border-color: {{ section.settings.rectangle_color }}"></span>
            <img class="product-image product-image-one" src="{{ product.featured_image | img_url: '1500x' }}" loading="lazy">
            <div class="card-bottom">
                <h4>{{ product.title }}</h4>
                <p class="paragraph paragraph--state-product">{{ product.description }}</p>
            </div>
            <button class="button">Add to Bag<span class="line"></span>{{ product.price | money }}</button>
        </div>
      {% endfor %}
    </div>  
</div>
<script src="{{ 'init.js' | asset_url }}" defer="defer"></script>
  {% schema %}
    {
      "name": "Product Region",
      "settings": [
        {
          "type": "text",
          "id": "product_heading",
          "label": "Product Heading",
          "default": "Lorem ipsum dolor sit"
        },
        {
          "type": "textarea",
          "id": "product_statement",
          "label": "Product statement",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam sapien sit amet nibh vestibulum, vel dictum eros imperdiet."
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection Selection",
          "info": "For this slider to work, at least 5 items need to be in the selected collection"
        },
        {
          "type": "color",
          "id": "product_font_color",
          "label": "Font colour for product section ",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "rectangle_color",
          "label": "Colour of the rectangle",
          "default": "#FF0000"
        }
      ],
      "presets": [
          {
              "name": "Product Region",
              "category": "Section"
          }
      ]
      
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
 
  {% endjavascript %}